# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.obj
*.pch
*.pdb
*.tlh
*.tli
*.idb
*vcproj.*.user
*.ncb
*.sbr
*.cd
*.exp
*.flt
*.sdf
*.opensdf
